@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    /*font-style: normal;*/
    font-weight: bold;
}

* {
    font-family: 'My Lucida', Console;
}

html {
    font-size: 16px;
}

body {
    color: #352a25;
    /*font-family: Georgia, serif;   */
    font-size: 40.5%; /* 1em = 10px */
    margin: 40px 80px;
}

.wrapper {
  width: 1280px;
  padding: 25px;
  margin: 0 auto;
}

body > header {
  height: 120px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, hsl(90, 0%, 100%), #ebeff1);
  box-shadow: 1px 0px 8px rgb(200, 200, 200);
}

header .logo-search, header .logo-search img, header .logo-search form, main header aside, main header .name, main header .statistics, main h2, body .wrapper > aside, body .wrapper > main {
  float: left;
}
header .logo-search {
  width: 600px;
}

header .logo-search > img{
  width: 70px;
}

input.search {
  height: 28px;
  width: 300px;
  font-size: 13px;
  background: url("../img/icon/search.png") hsl(90, 0%, 100%) no-repeat 8px;
  padding: 3px 6px 3px 25px;
  margin: 0 0 0 40px;
  border: 1px solid hsl(209, 36%, 86%);
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px #d5d5d5;
}

header .logo-search form {
  margin-top: 15px;
}

h1 {
  color: hsl(90, 0%, 0%);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 8px;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  color: hsl(90, 0%, 0%);
  margin-bottom: 8px;
}

.title{
  margin-left: 30px;
  border-bottom: 1px solid ;
}

#albums {
  margin-top: 20px;
  margin-left: 50px;
  display: inline;
  float: left;
  width: 100%;
}

#albums article {
  margin: 0 12px 30px 0;
  font-size: 13px;
}

#albums article img {
  width: 200px;
  float: left;

}

#albums article figcaption {
  margin-top: 20px;
}

#albums article > .desc{
  margin-top: 10px;
}

.showListLine {
  background-color: #efefef;
  text-decoration: none;
  font-size: 12px;
  color: hsl(90, 0%, 0%);
  border-radius: 5px;
  border: 1px solid hsl(90, 0%, 45%);;

}

.showListLine a{
  text:hsl(90, 0%, 0%);
}

.showListLine:hover {

  box-shadow: 4px 3px #efefef;
}

.showList {
    background-color: #efefef;
    text-decoration: none;
    font-size: 12px;
    color: hsl(90, 0%, 0%);
    border-radius: 5px;
    border: 1px solid hsl(90, 0%, 45%);;
}

.showList:hover {
    box-shadow: 4px 3px #efefef;
}

.hidden {
    display: none;
}
