@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    /*font-style: normal;*/
    font-weight: bold;
}

* {
    font-family: 'My Lucida', Console;
}

html {
    font-size: 16px;
}

body {
    color: #352a25;
    /*font-family: Georgia, serif;   */
    font-size: 40.5%; /* 1em = 10px */
    margin: 40px 80px;
}
