

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    header {
        display:block;
    }
    article{
        background-color:#efefef;
        margin-bottom:5px;
        width:250px;
        text-align:center;
    }
    section{
        margin-left:60px;
    }
    .title{
        margin-left: 90px;
        border-color: white;
    }
}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 992px) {

}